.story-about-us {


    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        max-width: 1200px;
        padding-left: 50%;
        background: #1E2C30;
        margin: 192.5px 0;
        position: relative;
        &::after{
            content: url("../../img/story-about-us-img.png");
            position: absolute;
            left: 63px;
            top: -95px;
        }
    }
}

@media (max-width: 1100px){
    .story-about-us{
        &__content{
            padding: 0 20px;
            &::after{
                display: none;
            }
        }
    }
}
.txt-story {


    &__semi-heading {
        color: #FFF;
        font-family: Manrope;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 154.5%; /* 23.175px */
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-top: 74px;
    }


    &__heading {
        color: #FFF;
        font-family: Playfair Display;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 58.5px */
        letter-spacing: -0.45px;
    }


    &__paragraph {
        color: #FFF;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%; /* 31.5px */
        margin-top: 14px;
        margin-bottom: 74px;
    }
}
