.story-hero {

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 495px;
        background: url("../../img/our-story-bg.png");

		&__semi-heading {
            color: #FFF;
            text-align: center;
            font-family: Manrope;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 154.5%; /* 23.175px */
            letter-spacing: 1.5px;
            text-transform: uppercase;
            margin-bottom: 8px;
		}


		&__heading {
            color: #FFF;
            text-align: center;
            font-family: Playfair Display;
            font-size: 55px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 66px */
            letter-spacing: -0.55px;            
            margin-bottom: 32px;
            max-width: 649px;
        }

		&__story-cta {
            background: #5C8692;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 23px 31px 24px 31px;
            max-width: 250px;
            border: 4px #5C8692 solid;
            color: #FFF;
            transition: 300ms;
            &:hover{
                  background-color: #FFF;
                  color: #5C8692;
                  transition: 300ms;
            }
		}
}
.story-cta {


		&__txt {
            color: inherit;
            text-align: center;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: 125%; /* 17.5px */
            letter-spacing: 1.68px;
            text-transform: uppercase;
		}
}
